Source: camara-wikipedia
Section: doc
Priority: optional
Maintainer: camara <linux@camara.ie>
Build-Depends: debhelper
Standards-Version: 3.7.2.2

Package: camara-wikipedia
Architecture: any
Essential: no
Recommends: mozilla | netscape  
Description: Selection of wikipedia pages bundled for local access
