Source: camara-classroom-aids
Section: doc
Priority: optional
Maintainer: camara <linux@camara.org>
Build-Depends: debhelper
Standards-Version: 3.7.2.2

Package: camara-classroom-aids
Architecture: any
Essential: no
Recommends: mozilla | netscape  
Description: Classroom aids
